.game-board {
  display: grid;
  border: 1px solid black;
}

.row {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.cell {
  width: 20px;
  height: 20px;
  border-right: 1px solid #000000;
  box-sizing: border-box;
}

.cell.black {
  background-color: black;
}

/* Remove the last cell border in each row */
.row .cell:last-child {
  border-right: none;
}

/* Remove the bottom border of the last row */
.game-board .row:last-child {
  border-bottom: none;
}
